<button style="padding:6px 12px;margin:20px;background:navy;">
        <a href="../queries/" style="color:white;">Explore Queries</a>
    </button>
    <select id="dropdown" style="margin: 20px;">
        <option value="part0"></option>
        <option value="part1">Marketing</option>
        <option value="part2">Business</option>
        <option value="part3">Strategy</option>
        <option value="part4">Performance Marketing</option>
        <option value="part5">Case Study</option>
        <option value="part6">Customers</option>
        <option value="part7">Recent How they Improved</option>
        <option value="part8">Creative</option>
        <option value="part9">Authenticated</option>
        <option value="part10">Learn</option>
        <option value="part11">Launched</option>
        <option value="part12">Digital / Website</option>
        <option value="part13">Gen Z</option>
    </select>
    <input type="checkbox" id="myCheckbox"> Enable After:
    <button onclick="tpRandom()"> Random </button>
    <button onclick="showAll()"> Show All </button>
    <div class="topFilters" style="margin: 20px;"> </div>
    <div class="flexContainer">
        <div class="ideaList" id="one"></div>
        <div class="ideaList" id="two"></div>
    </div>